#navStyle{
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background: #eee;
   };
   buttonStyle{
    padding: 10px 20px;
    font-size: '14px';
    cursor: 'pointer'; 
   };